@charset "UTF-8";
/* 變量使用$聲明-->語法:$變量名:屬性值;引用時直接使用$變量名即可*/
.box {
  color: #ccc;
  border: 1px solid #ccc;
}

/* 嵌套:後代選擇器 */
.container2 {
  width: 960px;
  height: 800px;
}

.container2 .row {
  color: #ccc;
}

.container2 .row .col-6 {
  padding-left: 15px;
  padding-right: 15px;
}

/* 屬性嵌套 */
.container3 {
  background-color: red;
  background-image: url();
  background-repeat: no-repeat;
  background-position: top left;
}

.container1 h1,
.container1 h2,
.container1 h3 {
  margin: 0;
}

nav a,
aside a {
  color: blue;
}

.header + p {
  font-size: 16px;
}

/*嵌套屬性*/
nav {
  font-size: 16px;
  font-weight: bold;
  font-family: arial;
}

nav {
  border: 1px solid #ccc;
  border-left: 0px;
  border-right: 0px;
}
